/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.youtube-transcript a {
  display: none;
  text-align: center;
}


.youtube-transcript .my-transcript {
  display: block;
}
