/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.youtube-transcript a {
  margin: 0 auto;
  width: 123px;
  display: block;
  text-align: center;
}

.youtube-transcript .my-transcript {
  display: none;
}

.youtube-transcript .my-transcript.active {
  display: block;
  padding: 20px;
}
